* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.footer-container {
    background-color: #f58634;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
}

.footer-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-info {
    text-align: left;
    margin-bottom: 10px;
}

.footer-copyright {
    font-size: 1rem;
    margin-bottom: 5px;
}

.footer-line {
    border-top: 1px solid white;
    width: 80%;
    margin: 10px auto;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin: 10px auto;
}

.footer-contacts p {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.footer-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.footer-social-icon {
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .footer-title {
        font-size: 2rem;
    }

    .footer-info,
    .footer-contacts,
    .footer-social {
        flex-direction: column;
        align-items: center;
    }

    .footer-contacts p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .footer-title {
        font-size: 1.5rem;
    }

    .footer-contacts p {
        font-size: 0.9rem;
    }

    .footer-icon,
    .footer-social-icon {
        width: 25px;
        height: 25px;
    }
}
